*{
    background-image: url("https://images.pexels.com/photos/2468399/pexels-photo-2468399.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}